.kapcsolat{
      h1{
      margin-bottom: 20px;
    }

  p{
    margin-bottom: 10px;
  }

#contact-persons{

  &:before{

    display: block;
    content:"";
    height:1px;
    width:40%;
    margin:15px  auto;
    background:$gray;
  }
  .mail,.tel{
    display: block;
  }
.col-xs-12{
  img {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease ;
    -ms-transition: all .3s ease ;
    -o-transition: all .3s ease ;
    transition: all .3s ease ;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
  }

  &:hover {
    img {
      filter: grayscale(0);
      -webkit-filter: grayscale(0);
    }
}
}
}
}

