.home{
padding-bottom:50px;
  #logo{
    i{
      display: block;
      font-size:150px;
      text-align: center;
    }
  }

#home-social{
  ul{width:100%;
    li{
      display: inline-block;
      float:none;
      a{
        padding:0;
          i{
            font-size:5em;
          }
      }
    }
  }
}
}