#partner-single{
  b,strong{
    color:$red;
  }
  .header{
    margin-bottom: 15px;
    position: relative;
    .name{
      h1{
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 15px;
        @media screen and (max-width:$screen-sm-max){
          margin-top: 15px;

        }

      }
    }
    .details{
      padding-bottom: 15px;
      position: relative;
      border-bottom: 1px solid $gray;
.contact{
  position: absolute;
  @media screen and (max-width:$screen-xs-max){
  position: relative;
  left:0;
  bottom:0;
}
  left:15px;
  bottom:5px;
  width:100%;
  > div{
    display: inline-block;
    span{
      font-weight: bold;
    }
    &:after{
      display: inline-block;
      content: " / ";
      margin:0 5px;
      font-weight: bold;

    }
    &:last-child:after{
      display: none;
    }

  }
}
    }
  }
}
.partner-item{
  margin-top: 15px;
  margin-bottom: 15px;
  img{
    filter:grayscale(1);
    -webkit-filter:grayscale(1);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease ;
    -ms-transition: all .4s ease ;
    -o-transition: all .4s ease ;
    transition: all .4s ease ;
    &:hover{
      filter: grayscale(0);
      -webkit-filter: grayscale(0);
    }
  }
}

#brands{
  margin-bottom: 30px;
  h2{
    margin-top: 0;
    margin-bottom: 20px;
  }
  &:before{
    width:96%;
    height:1px;
    display: block;
    margin: 20px auto;
    background:$gray;
    content:"";


  }
}

#losz{
  margin:30px auto;
}
.lakberendezok-orszagos-szoevetsege{
  display: none;
}