

.zsuri-item{
  margin-bottom: 15px;
  margin-top: 15px;
  display: block;
  @include clearfix;
  >div{
  transition: all .4s ease;
  }
  img{
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    transition: all .4s ease;

  }
  .more{
    transition: all .4s ease ;
    transform:rotateY(-90deg);
    transform-origin: 0% 0% 0px;
    background:$red;
    margin-left:-15px;
    color:white;
    .name{
      text-transform: uppercase;
      font-size:2em;
      font-family: $headings-font-family ;
      margin-top: 15px;
    }
    .title{
      font-size:1.3em;
      margin-bottom: 15px;
    }





  }

  &:hover {
    img {
      filter: grayscale(0);
      -webkit-filter: grayscale(0);
    }
    >div{
      left:25% !important;
    }
  .more{
    opacity: 1;
    transition: all .4s ease;
    transform: rotateY(0deg) !important;

  }
  }

  @media screen and(max-width:$screen-sm-max){
  .more{
    transform: rotateY(0deg);
    opacity:1;
  }
}
}

#zsuri-single{
  .header{
    @include clearfix;
    margin-bottom: 15px;

  }
  .details{
    border-bottom: 1px solid $gray;
  }
  .name{
    h1{
      margin-top: 0;
      text-transform: uppercase;
    }
  }
  .title{
    h2{
      margin-top: 10px;
    }
  }
}