.user-panel{
  > .info{
    position: static;
    text-align: center;
    padding: 10px;
  }
}
a{
  color:$red;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  padding:3px;
&:hover{
  background:$red;
  color:white;
}
;
}
.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.skin-red {
  //Navbar
  .main-header {
    .navbar {
      @include navbar-variant($red, #fff);
      .sidebar-toggle {
        color: #fff;
        &:hover {
          background-color: darken($red, 5%);
        }
      }
      @media(max-width: $screen-header-collapse) {
        .dropdown-menu {
          li {
            &.divider {
              background-color: rgba(255,255,255,0.1);
            }
            a {
              color: #fff;
              &:hover {
                background: darken($red, 5%);
              }
            }
          }
        }
      }
    }
    //Logo
    .logo {
      @include logo-variant(darken($red, 5%));
    }

    li.user-header {
      background-color: $red;
    }
  }

  //Content Header
  .content-header {
    background: transparent;
  }

  //Create the sidebar skin
  @include skin-dark-sidebar($red);
}

.btn-red{
  @include button-variant(white,$red,darken($red,10))
}

.dropzone {
  .dz-preview.dz-error {
    .dz-error-message{
      display: block;
      opacity: 1;
      top:150px;
    }
  }
}


