
body{
  background:url('images/body-bg.png') $brown repeat top left;
  color:$gray;

  position: relative;
  &:before{
    display: block;
    position: absolute;
    width:100%;
    min-height: 100%;
    top:0;
    left:0;
    z-index:-1;
    content:'';
    background: url('images/body-bg-pattern.png')  repeat-y center center ;
  }
&.logged-in{
  padding-top:50px;
}
}

.red{
  color:$red;
}

a,button{
  -webkit-transition: all .4s ease ;
  -moz-transition: all .4s ease ;
  -ms-transition: all .4s ease ;
  -o-transition: all .4s ease ;
  transition: all .4s ease ;

  &:focus,&:active{
    background:transparent;
    color:$red ;
  }
}

#social,#home-social{
  a{
    i {
      color: $gray;
    }
    &:hover{
      background: transparent;
      i{
        color:$red;
      }
    }
  }
}

.btn-register{
  @include button-variant(white,$red,$red);
  @include button-size(5px,50px,2em,2em,0);
  display: block;
  min-width:300px;
  text-align: center;
  margin: 15px auto;
@media screen and (max-width: $screen-xs-max){
  white-space: normal;

}
&.pull-left{
  width:auto;
}
}

.btn-white {
  @include button-variant($red, transparentize(white,.5), transparent);
  @include button-size(5px, 5px, 1em, 1em, 0);
  display: block;
  width: 150px;
  margin: auto;
  margin-top: 15px;

}

.cc_container .cc_btn, .cc_container .cc_btn:visited{
  background-color:$red !important;
  color:white !important;
  &:hover{
    background-color:darken($red,10%) !important;
  }
}


.btn-group{
  &.padded{
    .btn{
      margin-left:10px;
      &:first-child{
        margin-left:0px;
      }
    }
  }
}
