#top-bar{
  background:transparent;
  border-color:transparent;
  .navbar-brand{
    padding:8px;
  .home &{
    display: none;
  }
  }


  #main-menu{
    border-color:transparent;

  }
  .nav{
    width: 100%;
    text-align: center;
    @media screen and (max-width:$screen-xs-max){
      width: auto;
    }

  >li{
    display: inline-block;
    float:none;

    @media screen and (max-width:$screen-xs-max){

      display:block;
      width: 100%;

    }

    &.active{
      a{
        background:transparent;
        color:$gray;
        border-top:2px solid $red;

        @media screen and (max-width:$screen-sm-max){
          background: transparentize($red,.8);
          border-color:transparent;


        }
      }
    }
  }
  }

  .social{
    li{
      a{
        padding: 6px 0;
        i{font-size:2.5em}

      }
    }
  }
}
#logged-in-bar{
  .nav{
    @media screen and (max-width: $screen-xs-max){
      li{
        display: inline-block;
        float:right;
      }

    }
  }
}