@font-face {
    font-family: "so-font";
    src: url('../font/so/so-font.eot');
    src: url('../font/so/so-font.eot?#iefix') format('eot'),
    url('../font/so/so-font.woff') format('woff'),
    url('../font/so/so-font.ttf') format('truetype'),
    url('../font/so/so-font.svg#so-font') format('svg');
    font-weight: normal;
    font-style: normal;
}

.so-icon:before {
                     display: inline-block;
                     font-family: "so-font";
                     font-style: normal;
                     font-weight: normal;
                     line-height: 1;
                     -webkit-font-smoothing: antialiased;
                     -moz-osx-font-smoothing: grayscale;
                 }

.so-icon-lg {
                     font-size: 1.3333333333333333em;
                     line-height: 0.75em;
                     vertical-align: -15%;
                 }
.so-icon-2x { font-size: 2em; }
.so-icon-3x { font-size: 3em; }
.so-icon-4x { font-size: 4em; }
.so-icon-5x { font-size: 5em; }
.so-icon-fw {
                     width: 1.2857142857142858em;
                     text-align: center;
                 }

.so-icon-f_icon:before { content: "\EA01" }
.so-icon-letter_icon:before { content: "\EA02" }
.so-icon-logo:before { content: "\EA03" }