@font-face {
    font-family: "so-font";
    src: url('../font/fomme/so-font.eot');
    src: url('../font/fomme/so-font.eot?#iefix') format('eot'),
    url('../font/fomme/so-font.woff') format('woff'),
    url('../font/fomme/so-font.ttf') format('truetype'),
    url('../font/fomme/so-font.svg#so-font') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fomme-icon:before {
                     display: inline-block;
                     font-family: "so-font";
                     font-style: normal;
                     font-weight: normal;
                     line-height: 1;
                     -webkit-font-smoothing: antialiased;
                     -moz-osx-font-smoothing: grayscale;
                 }

.fomme-icon-lg {
                     font-size: 1.3333333333333333em;
                     line-height: 0.75em;
                     vertical-align: -15%;
                 }
.fomme-icon-2x { font-size: 2em; }
.fomme-icon-3x { font-size: 3em; }
.fomme-icon-4x { font-size: 4em; }
.fomme-icon-5x { font-size: 5em; }
.fomme-icon-fw {
                     width: 1.2857142857142858em;
                     text-align: center;
                 }

.fomme-icon-S&O_logo:before { content: "\EA01" }
.fomme-icon-f_icon:before { content: "\EA02" }
.fomme-icon-letter_icon:before { content: "\EA03" }
.fomme-icon-pattern:before { content: "\EA04" }