$brown:#F3EEE4;
$red: #6C2E33;
$gray:#575756;




$border-radius-base:        0px;
$border-radius-large:       0px;
$border-radius-small:       0px;
$brand-primary: $red;

$tooltip-bg:$gray;
$tooltip-max-width:250px;

$font-family-sans-serif:  'Titillium Web', sans-serif;
$headings-font-family: 'Playfair Display', serif;
$headings-color:  $red;
$navbar-inverse-bg:     $red;


$btn-primary-bg : $red;
$btn-primary-border: darken($red,10);
